body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 0px;

}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0px 10px;
  position: fixed;
  width: 100%;
  z-index: 5;
  margin-top: 0px;
}

#logo {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
}

span {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

a {
  color: seashell;
}

#content {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first
{
  height: 700px;
  width: 1200px;
  background-color: dimgray;
  display: flex;
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;

}
.mission {
  background-color: black;
  height: 150px;
  width: 1200px;
}

.second {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.second h2 {
  margin-top: 70px;
}

img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}

.description {
  margin-top: 0px;

}

.question {
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.third {
  width: 1200px;
  height: 500px;
  display: flex;
  background-color: dimgray;
  background-image: url("../../resources/images/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.third h2 {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 15px;
}

.location {
  background-color: black;
  width: 300px;
  height: 270px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  margin-bottom: 40px;
}

p {
margin: 0px;
padding: 0px;
}

.location h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.location h3 {
  padding: 0px;
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.copy {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.copy h5 {
  margin-left: 20px;
}

.end {
  height: 200px;
}
